* {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: #e5e5e5;
}

/* header css */

.header {
  background-color: #562eff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-icon-img {
  width: 41px;
  height: 50px;
  margin: 10px 0;
}
.header-icon-title {
  color: #ffffff;
}

.header-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}

.header-menu ul li {
  list-style: none;
}

.header-menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.header-menu ul li img {
  width: 30px;
  height: 30px;
}

.top-player,
.latest-course {
  /* display: flex; */
  margin: 20px auto;
  background-color: #ffffff;
  width: 60%;
  /* height: 500px; */
  justify-content: center;
  border-radius: 5px;
}
/* top player section */

.top-player h3,
.latest-course h3 {
  padding-top: 25px;
  padding-left: 20px;
  font-size: 24px;
  color: #562eff;
  font-weight: 700;
}

.top-player-card {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.top-player-card > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-player-card img {
  width: 51px;
  height: 51px;
}

.top-player hr {
  /* grid-column: 1 / span 3; */
  border: 1px solid #d1d1d1;
  width: 95%;
  margin: 0 auto;
}

/* top Blog section */
.top-blog {
  margin: 30px 0;
  padding: 0 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.top-blog div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.top-blog div div {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.top-blog h4 {
  color: black;
  font-size: 16px;
}

.top-blog span {
  color: #9f9f9f;
  font-size: 12px;
}

.top-blog p {
  color: #562eff;
  font-size: 12px;
}
.top-blog div img {
  width: 177px;
  height: 117px;
}

/* latest course section */
.latest-course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
}

.latest-course-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  box-shadow: (0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.latest-course-card img {
  width: 224px;
  height: 104px;
}

.latest-course-card h3 {
  color: black;
  font-size: 20px;
}

.star-container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.star-div {
  display: flex;
}

.star-div img {
  width: 12px;
  height: 11px;
}

.rating-span {
  font-size: 12px;
  color: #a2a2a2;
}

.timer-div {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #ffe4e8;
  border-radius: 14.6913px;
  padding: 5px 5px;
}

.timer-div span {
  font-size: 12px;
  color: #ff4a60;
  font-weight: 700;
}
.timer-div img {
  width: 13px;
  height: 13px;
}

/* header media query */

/* navbar */

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }
  .header-menu ul {
    margin-bottom: 15px;
  }
}

/* top player media query */

@media screen and (max-width: 576px) {
  .top-player-card {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .top-player {
    width: 90%;
  }

  .top-player-card > div {
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .top-player-card {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* top blog media query */

@media screen and (max-width: 1100px) {
  .top-blog {
    grid-template-columns: repeat(1, 1fr);
    /* align-items: center; */
  }
}
